/**
 * Sections
 * -----------------------------------------------------------------------------
 */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);

 .section {
   min-height: 55vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;

   @include bp-medium {
     min-height: 85vh;
     text-align: left;
   }

   &__content {
     padding: 3em 0;
     @include bp-medium {
       padding: 0 5em;
     }
   }

   pre {
     line-height: 1.5;
     background: #EF6B6F;
     padding: 1em;
     margin: 1em 0 0 0;
   }

   ul {
      margin: 0;
      padding: 0 1em;
      list-style: none;

      li {
        position: relative;
        &:before {
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 5px;
          position: absolute;
          left: -1em  ;
          background: #FDF9DE;
          top: 50%;
          margin-top: -4px;
          display: none;
          @include bp-medium {
            display: inline-block;
          }
        }
      }
   }

   &--main {
     background: linear-gradient(to bottom, #fbd2c6 0%,#f6afa5 100%);
     background: #ABE7DB;
     color: #FFF;
     height: 100vh;
     text-align: center;

     pre {
       margin: 0;
       background: #755261;
       display: inline-block;
       padding: 0.25em 1em;
       border-radius: 3px;
       font-size: 0.75rem;
     }

     h1 {
      font-family: 'caroselloregular', serif;
      font-size: 4rem;
      @include bp-medium {
        font-size: 7rem;
      }
     }

     h2 {
       margin: 0;
     }
   }

   &--primary {
     background: #FDF9DE;
     color: #FFF;
     color: #755261
   }

   &--secondary {
     background: #FD6E72;
   }

   &--tertiary {
     background: #755261;
   }
 }
